################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SPS/.vs/SPS/FileContentIndex
/SPS/SPS.API/bin/Release/net6.0
/SPS/SPS.API/.config
/SPS/SPS.API/Properties/PublishProfiles
